* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

input {display: none;}
label {cursor: pointer;}

.header__nav {user-select: none;}

/* header */

.header {
    padding-top: 28px;
    height: 449px;
    background-image: url("../img/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: black;
    position: relative;
    z-index: 0;
}

.header__wrapper {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.header::after {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    z-index: -1;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 179px;
    height: 41px;
}

.header__nav--list {
    font-size: 13pt;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "OpenSans-Regular", sans-serif;
}

.header__menu--link:not(:first-child) {
    margin-left: 16px;
}

.header__menu--link > a:hover {
    text-decoration: underline;
}

.header__menu--link > a {
    color: white;
}

.header__intro--title {
    text-align: center;
    color: white;
    font-size: 45px;
    line-height: 1.6;
    text-transform: uppercase;
    font-family: "OpenSans-Bold", sans-serif;
    max-width: 735px;
    margin: auto;
    padding: 100px 0;
}

/*  main */
.main__title {
    text-align: center;
    text-transform: uppercase;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 20pt;
}

.main__title::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
}


.trends__section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.trends__wrapper {
    display: flex;
    margin-top: 75px;
}


.trend__tags {
    list-style-type: none;
    display: flex;
    margin-bottom: 20px;
}

.trend__tags > li > a {
    margin-right: 20px;
    color: #b59f5b;
    text-transform: uppercase;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 14pt;

}

.trend__tags > li > a:hover {
    text-decoration: underline;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #b59f5b;
}

.trend__card {
    align-content: flex-end;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000000;
    background-size: cover;
    position: relative;
    width: 25%;
    margin-left: 3px;
    min-height: 320px;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
}

.trend__card::after {
    content: "";
    position: absolute;
    background-color: #000000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
    z-index: -1;
}

.trend__card:nth-child(1) {
    margin-left: 0;
    background-image: url("../img/trend1.jpg");
}

.trend__card:nth-child(2) {
    background-image: url("../img/trend2.jpg");
}

.trend__card:nth-child(3) {
    background-image: url("../img/trend3.jpg");
}

.trend__card:nth-child(4) {
    background-image: url("../img/trend4.jpg");
}

.trend__card--info {
    outline: 4px solid rgba(179, 158, 82, 0.6);
    padding: 20px;
    margin: 20px;
}

.trend__card---title > h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "OpenSans-Bold", sans-serif;
}

.trend__card---title > h3:hover {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #ffffff;
}

.main__content {
    margin: 60px auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.main__content--wrapper {
    width: 1200px;
    padding: 0 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main__content--article {
    width: 778px;
    display: flex;
}

.main__content--article:nth-child(1n + 2) {
    margin-top: 60px;
}

.main__content--img {
    width: 380px;
}

.main__content--articleWrapper {
    margin-left: 30px;
}

.main__content--articleTags {
    list-style-type: none;
    display: flex;
}

.main__content--articleTags > li > a {
    margin-right: 20px;
    color: #b59f5b;
    text-transform: uppercase;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 14pt;

}

.main__content--articleTags > li > a:hover {
    text-decoration: underline;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #b59f5b;
}

.main__content--title {
    margin-top: 13px;
    width: 352px;
}

.main__content--title > a {
    color: black;
    font-size: 14pt;
    line-height: 20pt;
    text-transform: uppercase;
    font-family: "OpenSans-Bold", sans-serif;
}

.main__content--title > a:hover {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #b59f5b;
}

.main__content--info {
    margin-top: 15px;
    display: flex;
}

.main__content--info > time {
    margin-right: 15px;
}

.main__content--date {
    color: #888888;
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
}

.main__content--author {
    color: black;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 14px;
}

.main__content--text {
    margin-top: 20px;
}

.main__content--text > p {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

.main__content--text > p:not(:first-child) {
    margin-top: 15px;
}

/* aside */

.aside {
    width: 272px;
    margin-right: 15px;
}

.aside__content--title {
    height: 42px;
    text-align: center;
    text-transform: uppercase;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 14pt;
}

.aside__content--title::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
}

.aside__content--mailingList > h3 {
    margin-top: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 14pt;
}

.aside__content--mailingList::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 66px;
    height: 3px;
    background: #b59f5b;
}

.aside__section {
    margin: 0 auto;
    width: 272px;
    height: 500px;
}

.aside__article--figure {
    max-width: 71px;
    max-height: 71px;
}

.aside__img {
    width: 71px;
    height: 71px;
    max-height: 71px;
    max-width: 71px;
}

.aside__article {
    display: flex;
    margin-top: 23px;
}

.aside__article--desc {
    margin-left: 20px;
}

.aside__article--date {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    color: #a9a9a9;
}

.aside__article--title {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 14px;
    color: black;
}

.aside__content--section {
    margin-top: 70px;
}

.aside__content--mailingList {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 14px;
    color: black;
}

.aside__article--title:hover {
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #b59f5b;
}

.aside__search--form {
    margin-top: 60px;
    width: 270px;
    height: 50px;
    display: flex;
}

.aside__search--input {
    border: none;
    height: 50px;
    width: 224px;
    background-color: #f4f7f6;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    font-size: 14px;
}

.aside__search--button {
    background-image: url("../svg/search.svg");
    border: none;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color: #b59f5b;
    cursor: pointer;
}

.aside__search--input:focus {
    border-bottom: 1px solid #b59f5b;
}

.aside__subscribe--form {
    margin-top: 25px;
}

.aside__subscribe--input {
    border: none;
    width: 100%;
    height: 50px;
    background-color: #f4f7f6;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    font-size: 14px;
}

.aside__subscribe--input:focus {
    border-bottom: 1px solid #b59f5b;
}

.aside__subscribe--button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 14px;
    color: white;
}

.aside__subscribe--button:hover {
    cursor: pointer;
}

.aside__tags--list {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
}

.aside__tags--list > li {
    margin: 0 7px 7px 0;
    padding: 8px 15px;
    list-style-type: none;
    border: 3px solid #eeeeee;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 10pt;
}

.aside__tags--list > li > a {
    color: #000000;
}

.aside__tags--list > li:hover {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    cursor: pointer;
}

.aside__themes--list {
    margin-top: 25px;
}

.aside__themes--list > li {
    padding: 13px 0 13px 3px;
    list-style-type: none;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 10pt;
    border-bottom: 1px solid #eeeeee;
}

.aside__themes--list > li > a {
    color: #000000;
}

.aside__themes--list > li > span {
    margin-left: 8px;
    color: #b59f5b;
    font-size: 12px;
    vertical-align: super;
}

.aside__themes--list > li:hover {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #b59f5b;
    cursor: pointer;
}
/*-------*/

.shop__section {
    width: 1200px;
    margin: 0 auto;
}

.shop__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    padding: 0 15px;
}

.shop__card {
    max-width: 300px;
    margin: 23px;
}

.shop__card--photo {
    width: 300px;
}

.shop__content {
    outline: 4px solid rgba(179, 158, 82, 0.6);
    outline-offset: 20px;
    margin-top: -15px;
    padding-top: 25px;
    height: 280px;
}

.shop__title {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 8px;
}

.shop__info {
    margin-bottom: 24px;
}

.shop__info > p {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 15pt;
}

.shop__info > p:hover {
    font-weight: bold;
}

.shop__info > p > a {
    text-decoration: none;
    color: #b59f5b;
}

.shop__info > a:hover {
    text-decoration: underline;
}

.shop__order {
    display: flex;
    justify-content: space-between;
}

.shop__price {
    align-self: center;
}

.old__price {
    text-transform: uppercase;
    text-decoration: line-through;
    font-size: 14pt;
    font-weight: bold;
    line-height: 24px;
}

.new__price {
    text-transform: uppercase;
    font-size: 20pt;
    font-weight: bold;
    line-height: 24px;
}

.shop__button {
    font-family: "OpenSans-Bold", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    background-color: #b59f5b;
    border: none;
    text-align: center;
    text-decoration: none;
    display: block;
    min-width: 140px;
    min-height: 50px;
}

.shop__button:hover {
    cursor: pointer;
}

/* footer */

.footer {
    margin: 40px 0 20px;
}

.footer__wrapper {
    width: 1170px;
    margin: auto;
}

.footer__content--address {
    padding: 30px 0;
    background-color: #f4f7f6;
}

.footer__content--social {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer__content--link {
    margin: 0 15px;
}

.footer__content--link:not(:last-child) {
    margin-right: 10px;
}

.footer__content--dribbble {
    background-image: url("../svg/001-dribbble.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    padding: 30px 15px;
}

.footer__content--pinterest {
    background-image: url("../svg/002-pinterest.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    padding: 30px 15px;
}

.footer__content--tumblr {
    background-image: url("../svg/003-tumblr.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    padding: 30px 15px;
}

.footer__copyrights {
    margin-top: 75px;
    text-align: center;
}

.footer__copyrights > a {
    text-decoration: none;
    color: #999999;
    text-align: center;
}

